@font-face 
{
    font-family: 'gugi';
    src: url('font/gugi.otf') format('truetype');
    font-family: 'DuskDemon';
    src: url('font/DuskDemon.ttf') format('truetype');
    font-family: 'Yanone';
    src: url('font/Yanone.ttf') format('truetype');
}

body {
    background-color: #2b2b2b;
    margin:0;
    padding:0;
}

img
{
   width:100%;
   height:auto;
}

.container{
    display:flex;
    flex-direction:row;
    justify-content:center;

}

.boxGame {
    background-color: #0a0a0a;
    width: 12vw;
    height: 12vw;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
}

.glav-txt{
    font-size:6vw;
    font-family:Yanone,sans-serif;
    color:white;
    text-align:center;
    margin:2vw 0;
}

.line{
    width:100%;
    height:2px;
    background-color:white;
}

@media screen and (max-width: 375px) {
    .glav-txt {
        font-size: 10vw;
    }

    .boxGame {
        width: 20vw;
        height: 20vw;
    }

}
