@font-face {
    font-family: 'gugi';
    src: url('font/gugi.otf') format('truetype');
}

@font-face {
    font-family: 'DuskDemon';
    src: url('font/DuskDemon.ttf') format('truetype');
}

@font-face {
    font-family: 'Yanone';
    src: url('font/Yanone.ttf') format('truetype');
}

body {
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
}

.up-menu-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.highlight-button {
    padding: 2vw 3vw;
    text-decoration: none;
    color: #fff;
    z-index: 1;
    font-size: 3vw;
    font-family: 'Yanone', sans-serif;
    position: relative;
    white-space: nowrap;
}

    .highlight-button::after {
        content: '';
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0.2vw;
        background-color: #fff;
        transition: width 0.3s ease;
    }

    .highlight-button:hover::after {
        width: calc(100%);
    }

.effects {
    animation: hue-rotate 10s linear infinite;
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

#container3D canvas {
    width: 1000vw;
    height: 1000vw;
    position: absolute;
    top: 0%;
    left: 0%;
}

.frame
{
    width:100vw;
    height:100vh;
}

@media screen and (max-width: 450px) {
    .highlight-button {
        font-size: 8vw;
        padding: 3vw 2vw;
    }

    .up-menu-conteiner {
        flex-direction: column;
        align-items:center;
    }
}
